<script>
    $(document).ready(function() {
        $('#menu_item_id').select2({
            ajax: {
                url: '/menu_items.json',
                data: function (params) {
                    var query = {
                        page: 1,
                        per_page: 20,
                        name: params.term,
                        type: 'public'
                    }
                    return query;
                },
                processResults: function (data) {
                    var output = {
                        results: data.items,
                        pagination: {
                            more: data.more
                        }
                    };
                    return output;
                },
                cache: true
            },
            placeholder: 'Search for a menu item',
        });
    });

</script>

<%= form_with scope: :order, class: "ui form center aligned", url: orders_path, local: true do |form| %>
  <p>
    <%= form.label :menu_item_id %><br>
    <select id="menu_item_id"></select>
  </p>

  <p>
    <%= form.label :Quantity %><br>
    <%= form.text_field :quantity %>
  </p>

  <p>
    <%= form.label :OrderType %><br>
    <%= form.text_field :order_placed_type %>
  </p>

  <h3>Enter the Customer Details:</h3>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :house_no %><br>
    <%= form.text_field :house_no %>
  </p>

  <p>
    <%= form.label :street %><br>
    <%= form.text_field :street %>
  </p>

  <p>
    <%= form.label :area %><br>
    <%= form.text_field :area %>
  </p>

  <p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </p>

  <p>
    <%= form.label :state %><br>
    <%= form.text_field :state %>
  </p>

  <p>
    <%= form.label :pincode %><br>
    <%= form.text_field :pincode %>
  </p>

  <p>
    <%= form.label :landmark %><br>
    <%= form.text_field :landmark %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :phone_no %><br>
    <%= form.text_field :phone_no %>
  </p>


  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', orders_path %>