<h1 class="ui grid center aligned">Payment Details</h1>

<table class="ui celled center aligned table">
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>
  <tr>

  <tr>
    <td>Order ID</td>
    <td><%= @item.order_id %></td>
  </tr>

  <tr>
    <td>Status</td>
    <td><%= @item.status %></td>
  </tr>

  <tr>
    <td>Payment Type</td>
    <td><%= @item.payment_type %></td>
  </tr>

  <tr>
    <td>Transaction ID</td>
    <td><%= @item.transaction_id %></td>
  </tr>


</table>


<div class="ui grid centered padded"><%= link_to 'Edit', edit_order_payment_info_path(@item) %> | <%= link_to 'Back', orders_path %> | <%= link_to 'Destroy', order_payment_info_path(@item),
                                                                                                             method: :delete,
                                                                                                             data: { confirm: 'Are you sure?' } %>
</div>
