<!DOCTYPE html>
<html>
  <head>
    <title>HotelOrderManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="../assets/application.css">
    <link rel="stylesheet" type="text/css" href="../assets/semantic.min.css">
    <script
      src="../assets/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="../assets/semantic.min.js"></script>

    <link href="../assets/select2.min.css" rel="stylesheet" />
    <script src="../assets/select2.min.js"></script>
  </head>

  <body>

  <div class="ui secondary  menu">
    <div class="right menu">
      <%= render 'devise/menu/registration_items'%>
      <%= render 'devise/menu/login_items'%>
    </div>
  </div>


  <div class="ui celled three item menu">
    <%= link_to 'Orders', orders_path, :class => "item"%>
    <%= link_to 'Menu Items', menu_items_path, :class => "item"%>
    <%= link_to 'Customer Details', customer_infos_path, :class => "item"%>
  </div>

    <%= yield %>
  </body>
</html>
