<!DOCTYPE html>
<html>
  <head>
    <title>HotelOrderManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--    <link rel="stylesheet" type="text/css" href="../assets/application.css">-->
<!--    <link rel="stylesheet" type="text/css" href="../assets/semantic.min.css">-->
<!--    <script-->
<!--      src="../assets/jquery-3.1.1.min.js"-->
<!--      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="-->
<!--      crossorigin="anonymous"></script>-->
<!--    <script src="../assets/semantic.min.js"></script>-->

<!--    <link href="../assets/select2.min.css" rel="stylesheet" />-->
<!--    <script src="../assets/select2.min.js"></script>-->

<!--    <link rel="stylesheet" type="text/css" href="../assets/application.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>


    <script>
        $(document).ready(function() {
            $('#menu_item_id').select2({
                ajax: {
                    url: '/menu_items.json',
                    data: function (params) {
                        var query = {
                            page: 1,
                            per_page: 20,
                            name: params.term,
                            type: 'public'
                        }
                        return query;
                    },
                    processResults: function (data) {
                        var output = {
                            results: data.items,
                            pagination: {
                                more: data.more
                            }
                        };
                        return output;
                    },
                    cache: true
                },
                placeholder: 'Search for a menu item',
            });
        });

    </script>

  </head>

  <body>

  <div class="ui secondary  menu">
    <div class="right menu">
      <%= render 'devise/menu/registration_items'%>
      <%= render 'devise/menu/login_items'%>
    </div>
  </div>


  <div class="ui celled three item menu">
    <%= link_to 'Orders', orders_path, :class => "item"%>
    <%= link_to 'Menu Items', menu_items_path, :class => "item"%>
    <%= link_to 'Customer Details', customer_infos_path, :class => "item"%>
  </div>

    <%= yield %>
  </body>
</html>
